<h1 align='center'> Enter your bookmarks </h1>

<form align='center' action='/links' method='POST'>
  URL:
  <input type='text' name='url'>
  Title:
  <input type='text' name='title'>
  Tag:
  <input type='text' name='tags'>

  <input type='submit' value='Submit'>
</form>
